[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Type=Service
MimeType=inode/directory
Actions=LogoSetDir

[Desktop Action LogoSetDir]
Name=Add Logo on Dir(bot_left)
Name[ru]=Добавить логотип на директорию (нижний левый)
Icon=$HOME/.local/share/logo_set/logo.png
Exec=konsole -e $HOME/.local/share/logo_set/logo_set_dir.sh "%u"
